<!DOCTYPE html>
<html>
  <head>
    <title>Club-Biz | About Us</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      Xun Guo		633542<br>
      Jun Huang 	650721<br>
      Bofan Jin 	583688<br>
    </p>
  </body>
</html>