<!DOCTYPE html>
<html>
  <head>
    <title>Club-Biz | Contact Us</title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <p>
      Xun Guo:		guox1@student.unimelb.edu.au<br>
      Jun Huang:	junh1@student.unimelb.edu.au<br>
      Bofan Jin:	bfjin@student.unimelb.edu.au<br>
    </p>
  </body>
</html>